@import "ariastel-fonts";

@header-footer-bg: #373737;
@light-gray-color: #ADADAD;
@white-color: #fff;
@red-color: #EB4242;
@gray-text-color: #B4B4B4;
@dark-text-color: #1A1D21;
@black-color: #000;

@font-family-ariastel:  "Montserrat", sans-serif;

.aa_footer {
  height: 250px;
  background-color: @header-footer-bg;
}