@import "ariastel-fonts";

@header-footer-bg: #373737;
@light-gray-color: #ADADAD;
@white-color: #fff;
@red-color: #EB4242;
@gray-text-color: #B4B4B4;
@dark-text-color: #1A1D21;
@black-color: #000;

@footer-height: 250px;
@font-family-ariastel: "Montserrat", sans-serif;

main {
  min-height: 100%;
  height: auto;

  @media (min-width: @screen-lg-min) {
    margin: 0 auto @footer-height * -1;
    padding: 0 0 @footer-height;
  }
}

.navbar-toggle {
  color: @white-color;

  &:hover {
    color: @red-color;
  }
}

.aa_footer {
  padding: 20px;
  background-color: @header-footer-bg;
  
  font-size: 12px;
  font-weight: bold;

  @media (min-width: @screen-lg-min) {
    height: @footer-height;
    padding-top: 60px;
  }

  a {
    color: #fff;

    &:hover {
      color: @red-color;
    }
  }

  &__nav {
    display: flex;
    padding: 0;
    flex-wrap: wrap;

    &-item {
      list-style: none;
      margin: 4px 20px 4px 0;
      text-transform: uppercase;
    }
  }

  &__notes {
    display: flex;
    flex-direction: row;

    & > * {
      margin: 4px 20px 4px 0;
    }
    
    @media (min-width: @screen-lg-min) {
      flex-direction: column;
      text-align: right;
    }
  }
}