@import "variables";
@import "uicons";

@import "news-item";
@import "cat-item";
@import "subcat-item";


[component="category/watching"] {
  color: @gray-text-color  !important;
  border-color: @gray-text-color  !important;
  background-color: @white-color  !important;

  &:hover {
    background-color: @red-color  !important;
    color: @white-color  !important;
  }
}

[component="category/notwatching"] {
  background-color: @red-color  !important;
  color: @white-color  !important;

  &:hover {
    background-color: @white-color  !important;
    color: @gray-text-color  !important;
  }
}

[component="category/topic"] {
  margin-bottom: 10px;
  border-bottom: 1px solid @gray-text-color  !important;
  padding-bottom: 0;

  &:hover .content {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 70px;
      right: 0;
      height: 1px;
      background: red;
    }
  }

  &:hover {
    background-color: @white-color;
  }
}

.topic-item__footer {
  margin-top: 8px;
  height: 20px;
  display: flex;
  align-items: center;

  &>* {
    margin-right: 2px;
    margin-left: 2px;
  }
}

.pagination-block {
  .progress-bar {
    background-color: @white-color  !important;
  }

  &,
  .pagination-text {
    color: @red-color  !important;
  }
}

.posts [component="post"][data-index="0"] {
  .avatar {
    width: 40px !important;
    height: 40px !important;
    margin-left: -8px;

    @media (min-width: @screen-sm) {
      width: 70px !important;
      height: 70px !important;
      margin-left: -10px;
    }
  }

  & .status {
    font-size: 16px !important;

    @media (min-width: @screen-sm) {
      font-size: 20px !important;
    }
  }

  & [itemprop="author"] {
    font-size: 140%;
  }

  &+[data-index="1"] {
    border-top: 2px solid #facccc !important;
  }
}

.panel--ariastel {
  border: 0 !important;
  border-radius: 3px !important;

  & h3 {
    font-weight: bold;
  }

  & .panel-heading {
    border: 0 !important;
    background: #fff !important;
    padding-top: 15px;
    border-radius: 3px;
  }
}

#logged-in-menu #user_label #user_dropdown {
  position: relative;

  .status {
    position: absolute;
    right: 12px;
    font-size: 12px;
    top: 8px;
    z-index: 1;
  }
}