.posts[component="topic"] [component="post"] {

  &.highlight .post-header {
    padding-right: 1rem;
  }


  &:first-child {
    padding-top: 20px;
  }

  &[data-index="0"] {

    .avatar {
      width: 40px !important;
      height: 40px !important;
      margin-left: -8px;

      @media (min-width: @screen-md) {
        width: 80px !important;
        height: 80px !important;
        margin-left: -15px;
      }
    }

    @media (max-width: @screen-sm-max) {
      .post-header {
        margin-left: 2rem !important;
      }
    }

    @media (min-width: @screen-md) {
      .content {
        margin-top: -67px;
      }
    }

    & .status {
      font-size: 16px !important;

      @media (min-width: @screen-sm) {
        font-size: 20px !important;
      }
    }

    & [itemprop="author"] {
      font-size: 140%;
    }

    & {
      border-bottom: 2px solid #facccc !important;
    }
  }

  .post--deleted-label {
    display: none;
  }

  &.deleted {

    & .post--deleted-label {
      display: inline-block;
    }

    &>.content {
      clear: left;
      min-height: 0;
      margin-left: 24px;
    }

    &>br {
      display: none;
    }

    &:not([data-index="0"]) {
      padding-top: 9px !important;
      padding-bottom: 5px !important;

      & .post-footer .votes,
      & [component="post/signature"],
      & [component="post/replies/container"],
      & .group-label {
        display: none;
      }

      & [component="user/status"] {
        font-size: 10px !important;
      }

      & .spoiler-wrapper--deleted {
        margin-bottom: 4px;
        .spoiler-control {
          font-size: 10px;
          padding: 2px 8px;
        }
      }

      @avatar-size-xs: 20px;
      @avatar-size-md: 30px;

      & [component="user/picture"] {
        @media (max-width: @screen-md) {
          width: @avatar-size-xs;
          height: @avatar-size-xs;
        }

        @media (min-width: @screen-md) {
          width: @avatar-size-md;
          height: @avatar-size-md;
        }
      }

      & .post-header .icon {
        margin-top: -2px;
        min-width: @avatar-size-xs;
        min-height: @avatar-size-xs;

        @media (min-width: @screen-md) {
          margin-top: -4px;
          margin-left: 6px;
          min-width: @avatar-size-md;
          min-height: @avatar-size-md;
        }
      }
    }
  }
}

.aa_post-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &>* {
    margin-right: 4px;
  }
}